<div>
<div class="beer">
        <img src="/images/beer.png" alt="" srcset="">
    </div>

    <button><a href="/beers">check the Beers</a></button>
    <button><a href="/random-beer">check a Random Beer</a></button>
</div>